@import url('https://cdn.jsdelivr.net/npm/@fontsource/comic-mono@1.0.1/index.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

p,pre {
    font-family: Arial, Helvetica, sans-serif;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
  